body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-image: url("bg.png");
  background-size: cover;
  background-repeat: space; */
  background-color: cadetblue;
}
img {
  width: 30%;
}
.sign-up-form {
  width: 500px;
  box-shadow: 0 0 3px 0 rgb(0, 0, 0);
  background: #fff;
  padding: 20px;
  margin: 80px auto auto auto;
  text-align: center;
}
.sign-up-form h1 {
  /* border-radius: 20px; */
  color: rgb(208, 93, 70);
  margin-bottom: 30px;
}
.input-box {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 90%;
  border: 1px solid gray;
  outline: none;
}
button {
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.signup-btn {
  background-color: rgb(208, 93, 70);
}
​ a {
  text-decoration: underline;
}
hr {
  margin-top: 20px;
  width: 80%;
}
.or {
  background: #fff;
  width: 30px;
  margin: -19px auto;
}

.checkbox {
  opacity: 1;
}
